@model EntityLayer.Concrete.Reservation
@{
    ViewData["Title"] = "NewReservation";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h1>Yeni Rezervasyon Sayfası</h1>
<form id="reservationForm" method="post">
    <div class="form-group">
        @Html.Label("Lokasyon")

        @Html.DropDownListFor(x => x.Destination, (List<SelectListItem>)ViewBag.v, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.Label("Kişi Sayısı")
        <input type="text" asp-for="PersonCount" class="form-control" />
    </div>
    <div class="form-group">
        @Html.Label("Tarih")
        <input type="date" asp-for="ReservationDate" class="form-control" />
    </div>
    <div class="form-group">
        @Html.Label("Varsa Eklemek İstedikleriniz")
        <textarea cols="10" rows="3" class="form-control" asp-for="Description"></textarea>
    </div>
    <button id="btn_add_reservtion" class="btn btn-success">Rezervasyon Yap</button>
</form>


@section scripts{
    <script>
        $(document).ready(function () {
            $("#reservationForm").submit(function (e) {
                e.preventDefault(); // Formun otomatik olarak gönderilmesini engelliyoruz.

                // Formun verilerini sunucuya gönderiyoruz.
                $.ajax({
                    url: $(this).attr("action"),
                    type: "post",
                    data: $(this).serialize(), // Form verilerini alıyoruz
                    success: function () {
                        Swal.fire({
                            position: 'center',
                            icon: 'success',
                            title: 'Talebiniz Alındı',
                            text: 'Rezervasyon talebiniz onay aşamasındadır. Lütfen web sitemizi takip edin! Talebiniz sonucunda bilgilendirileceksiniz.',
                            showConfirmButton: false,
                            timer: 6500
                        });
                    }
                });
            });
        });
    </script>

}
